---

---
<!-- Section Hero Areaa -->
<section class="flex h-3/5 bg-white mt-10 shadow">
  <!-- Left Side: Text and Button -->
  <div class="w-1/2 flex flex-col items-start p-10 mt-10">
    <h1 class="text-5xl font-bold text-gray-700 mb-4">
      <slot name="pageTag" />
    </h1>
    <div class="text-black mb-6">
      <slot name="pageDetails" />
    </div>
    <slot name="contact" />
  </div>

  <!-- Right Side: Hero Image -->
  <div class="w-1/2 h-full p-8">
    <div class="w-full h-full rounded-tl-[200px] rounded-br-[200px] shadow-xl overflow-hidden">
      <slot name="heroImage" />
    </div>
  </div>
</section>

<!-- Content Cards -->
<section class="bg-gray-100 py-10">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      <div>
        <h2 class="text-2xl font-bold text-gray-800">
          <slot name="contentTitle" />
        </h2>
      </div>
    </div>
  </div>
</section>

<!-- Contact us section -->
<section >
<h1>This woill be a page component called contact</h1>
</section>
